@tailwind base;
@tailwind components;
@tailwind utilities;

.IconStyle {
  @apply text-IconColor mr-3;
}

.MainStyle {
  @apply text-IconColor font-medium;
}

.ButtonStyle {
  @apply flex items-center bg-white w-full px-4 py-3 rounded-lg shadow-md hover:bg-HoverShade
}

/* General Button */
.fc .fc-button-primary {
    background-color: transparent;
    color: #264653;
    border: 1px solid #C1C1C1;
    border-radius: 4px;
  }
  
  /* Active Button */
  .fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: transparent;
    color: #264653;
    border: 1px solid #C1C1C1;
    opacity: 0.5;
  }
  
  /* Hover */
  .fc .fc-button-primary:hover {
    background-color: transparent;
    color: #264653;
  }
  
  /* Disabled Button */
  .fc .fc-button-primary:disabled {
    background-color: transparent;
    color: #264653;
    opacity: 0.5;
    cursor: not-allowed;
    border: 1px solid #C1C1C1;
  }
  